@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>
<form method="get">
    <div>
        <label = "textname" />Name : </label>
        <input id= "textname" placeholder ="entrer name " required type ="text "/>
    </div>
    </div>
    <label id="textpassword" />Password : </label>
    <input id="textpassword" placeholder="entrer password " required type="password" />
    </div>
    </div>
    
    <input type ="submit" value="ok"/>
    </div>
</form>