@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>
<div>
    <a href ="Doctor">doc land</a>
</div>
<div>
    <a href =" Patient">Patient info</a>
</div>
<div>
    <a href =" Appointment">Appointment info</a>
</div>